@import "tailwindcss";
@plugin '@midudev/tailwind-animations';

@layer base {
    html {
      font-family: 'Inter', sans-serif;
    }

    input, button, select, textarea, a {
    font-family: inherit;
  }
  }

@theme {
  --color-primary: #22C9DF;
  --color-secondary: #FDFDFD;
  --color-background: #131313;
  --color-background-accent: #292929;
  --color-background-grid: #1D1D1C;
}