---
import "../styles/global.css";
import GridCard from "../components/GridCard.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="mx-auto max-w-4xl container p-4">
		<main class="flex items-center justify-center min-h-screen pr-12">
			<div class="flex flex-col justify-center h-full max-w-lg">
			<h2 class="text-2xl font-extrabold mt-4 mb-4 mr-4 text-start">Hola游녦游낖, soy Jose Ivan</h2>
			<h1
				class="font-extrabold text-4xl md:text-5xl lg:text-7xl mb-4"
			>
				<span class="text-primary">SOFTWARE</span>
				<br />
				<span class="text-secondary">DEVELOPER</span>
			</h1>
			<p class="text-sm font-medium md:text-base mb-6 max-w-full">
				Desarrollador de software con experiencia en la construcci칩n de soluciones
				 eficientes y optimizadas, con un enfoque en el rendimiento.
			</p>
			</div>
			<div class="rounded-full overflow-hidden w-96 justify-center items-center hidden md:flex">
				<img src="/images/foto-perfil.png" alt="Foto de perfil">
			</div>
		</main>
		<section class="w-full h-full my-4">
			<h2 class="text-2xl font-extrabold mt-4 mb-6 mr-4 text-end">
				<span class="border-b-primary border-b-4">Proyectos</span>
			</h2>

			<div class="max-w-6xl mx-auto">
				<div
					class="grid grid-cols-4 grid-rows-4 gap-4 h-[600px] md:h-[700px] "
				>
					<!-- El Colegio Invisible - Grande (2x2) -->
					<div class="col-span-2 row-span-2 animate-slide-in-left animate-duration-slower view-animate-[--subjectReveal] ">
						<GridCard
							rutaImagen="/images/iconos/elcolegioinvisible.png"
							nombreProyecto="El Colegio Invisible"
							descripcion="Aplicacion web para gestionar inventarios de libros en una librer칤a."
							className="bg-gray-100"
							isLarge={true}
						/>
					</div>

					<!-- Landing - Peque침o (1x1) -->
					<div class="col-span-1 row-span-1">
						
						
						<GridCard
							rutaImagen="/images/iconos/logoagroscan.png"
							nombreProyecto="Deteccion de Plagas"
						/>
					</div>

					<!-- Abogados - Peque침o (1x1) -->
					<div class="col-span-1 row-span-1 animate-slide-in-right">
						<GridCard
							rutaImagen="/images/iconos/logoappabogados.png "
							nombreProyecto="Web Scrapping de Consultas Juridicas"
						/>
					</div>

					<!-- AgroScan - Mediano (2x1) -->
					<div class="col-span-2 row-span-1 col-start-3 row-start-2 ">
						<GridCard
							rutaImagen="/images/iconos/simulacionapp.png"
							nombreProyecto="Generacion de Numeros Pseudoaleatorios"
						/>
					</div>

					<!-- Marketpick - Peque침o (1x3) -->
					<div class="col-span-3 row-span-1 col-start-1 row-start-3">
						
						<GridCard
							rutaImagen="/images/iconos/logomarketpick.png"
							nombreProyecto="Marketpick e-commerce"
						/>
					</div>

					<!-- Simulacion - Peque침o (1x1) -->
					<div class="col-span-1 row-span-1 col-start-4 row-start-3 ">
						<GridCard
							rutaImagen="/images/iconos/BMlogo.png"
							nombreProyecto="Landing Page"
						/>
					</div>
				</div>
			</div>

			

			<section class="w-full my-4">
				<h2 class="text-2xl font-extrabold mt-16 mb-6 ml-4">
					<span class="border-b-primary border-b-4">Sobre M칤</span>
					
				</h2>
				<p class="text-sm font-medium md:text-base ml-4 mb-6 max-w-full">
				Soy un apasionado del desarrollo web y siempre estoy buscando aprender
				nuevas tecnolog칤as y mejorar mis habilidades. Me encanta crear
				sitios web que no solo sean visualmente atractivos, sino tambi칠n
				ultrarr치pidos y optimizados. 
			</p>
			</section>
		</section>
	</body>
</html>
