---
export interface Props {
  rutaImagen: string;
  nombreProyecto: string;
  descripcion?: string;
  className?: string;
  isLarge?: boolean;
}

const {
  rutaImagen,
  nombreProyecto,
  className = "",
} = Astro.props;
---

<div
  class={`bg-background-grid rounded-xl  p-lghadow-background-accent border border-background-accent transition-all duration-300 h-full flex flex-col items-center justify-center text-center hover:shadow-md hover:scale-x-[101%] hover:scale-y-[102%] animate-[scale_1.05] ${className}`}
>
  <div class="flex-1 flex items-center justify-center min-h-32 w-full pt-2">
    <img
      src={rutaImagen}
      alt={nombreProyecto}
      class="w-full h-full object-contain"
    />
  </div>

  <div class="px-2 pb-4">
    <h3 class="font-semibold text-secondary lg:text-lg">
      {nombreProyecto}
    </h3>
    
    <slot name="tecnologias" />
  </div>
</div>
